= simple_form_for movie, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.input :title
  = f.input :description, as: :text
  .form-group.row
    .col-lg-8.offset-lg-2
      = f.submit class: "btn btn-primary"
      = link_to t(:cancel), cancel_link_path, class: "btn btn-link"
