%h1.p-b-2
  = t("movies.title_index")
  = link_to t("movies.add_more"), new_movie_path, class: "btn btn-sm btn-outline-success"

#movies.row
  .col-lg-12
    - @movies.each do |movie|
      .row{id: movie.id}
        .col-lg-2
          - if movie.pictures.present?
            = link_to image_tag(movie.pictures.first.picture.thumb.url, class: "img-thumbnail"), movie
        .col-lg-10
          %h3= movie.title
          = render "action_buttons", movie: movie
      %hr

.row
  .col-lg-12
    = paginate @movies
