.row
  .col-lg-4.offset-lg-4
    %h1.text-lg-center= link_to t("project.short_name"), root_path

    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.input :email, label: false, placeholder: true
      = f.input :password, autocomplete: "off", label: false, placeholder: true
      - if devise_mapping.rememberable?
        .field
          = f.input :remember_me, as: :boolean
      .actions
        = f.submit "Log in", class: "btn btn-primary btn-block"
    = render "devise/shared/links"
